nav{
  background-color: orange;
  height: 100px;
}
nav ul{
  margin: 40px auto;
  border: 1px solid red;
  height: 40px;
  padding: 40px;
}

nav ul li{
  padding: 10px;
  list-style: none;
  display: inline;
  margin: 40px 5%;
  background: $back-color;
}
nav ul li a{

}
