@import 'variable' ;
@import 'mixins' ;
@import 'images' ;
@import 'list' ;

*{
  margin-left: 10px;
}
body {
  background-color: $back-color;
}


button {
  @include dimension(100px, 50px, 2px);
  @extend myColors;
}

p {
  @include myPara(400px, 300px);
  color: $color;
  margin: $margin;
}

//inheritance

myColors{
  background: $back-color;
  color : $color;
}
