@import 'variable';

*{
  margin-left: 10px;
}
body {
  background-color: $back-color;
}

@mixin dimension($w,$h, $ls){
  width: $w;
  height: $h;
  letter-spacing: $ls;
}
@mixin myPara($w,$h,){
  width: $w;
  height: $h;
}

button {
  @include dimension(100px, 50px, 2px);
}

p {
  @include myPara(400px, 300px);
  color: $color;
}
